opencv-python
pyrealsense2
scikit-image
torch
torch-vision
peft
transformers
accelerate
bitsandbytes
matplotlib
pandas
# RoboPoint dependencies
pillow
numpy
tqdm
mediapy
# Optional: for better performance
flash-attn
# For model serving (optional)
gradio
# For cloth simulation
mujoco==3.2.3
