opencv-python
pyrealsense2
scikit-image
torch
torch-vision
peft
transformers
accelerate
bitsandbytes
matplotlib
pandas
# RoboPoint dependencies
pillow
numpy
tqdm
mediapy
# For model serving (optional)
gradio
# For cloth simulation
warp-lang==1.9.0
